@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.footer-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(0, 0, 0) 40%);
}
